@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    
    *{
    font-family: 'Poppins', sans-serif;
  }
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
  background-color:rgba(232, 182, 57, 0.997); 
}
.c{
  margin-top: 15px;
  margin-bottom: 12px;
}
.s1{
  color:rgb(246, 47, 12);
}
.s2{
  color: rgb(254, 110, 8);
}
.s3{
  color:goldenrod ;
}
 .s4{
  color:rgba(12, 12, 12, 0.751);
 }
.h{
    text-align: center;
     font-weight:800;
}
.contact{
  align-items: center;
  text-align: center;
  margin-top: 150px;
}
.inputBox {
        position: relative;
        
}
.inputBox input,
.inputBox textarea{
    width: 80%;
}
.btn1{
    width: 30%;
    text-align: center;
}

.text{
    display:flex;
}
.contactInfo{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color:rgba(232, 182, 57, 0.553);
   
}
.contactInfo .box{
    position: relative;
    padding-top: 20px 0;
    display: flex;
}
.contactInfo .box .icon{
   min-width: 50px; 
    height: 50px;
    background:white; 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
     border-radius: 50%; 

}
.contactInfo .box .text {
    font-weight: 200;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
}
/* footer css  */
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    margin-top: 30%;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .b3{
    margin-left: 100px;
    margin-right: 100px;

  }
  /***** Section *****/
.footer-basic{
  padding:80px 0;
  background-color:rgba(232, 182, 57, 0.526);
  color:#4b4c4d;
  margin-top: 7%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(12, 12, 12);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:10px;
  color:rgb(31, 27, 27);
  margin-bottom:0;
  
}
.copyright span
{
  color: rgb(227, 146, 8);
}
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */