*{
    font-family: 'Poppins', sans-serif;
  }
    .container{
      margin-top: 60px;
    }
    .al{
      text-align: center;
      /* font-size: medium; */
      font-family:'Poppins', sans-serif;
      font-weight:600;
    }
    .mission{
  display: block;
  margin: auto;
  height: 250px;
  width: 350px;
}
.heading{
  text-align: center;
   font-weight:800;
  }
  .text{
    display: block;
  margin: auto;
  height: 250px;
  width: 350px;
  }
h4{
    font-weight:550;
  }
  .about{
     /* background-color:goldenrod;  */
    background-image: url(/assets/images_about/r5.jpeg);
    height:300px;
    background-size: cover;
    width: 100%;
    margin-top: 130px;
    background-position: center;
    }
 /* .handsome{

  animation:moveright 1s linear 1;
  animation-delay: 1s;
 visibility: hidden;
 animation-fill-mode: forwards; 
}
@keyframes moveright{
0%{
     transform:translateX(-100px);
     visibility: visible;
}
100%{
 transform:translateX(0);
 visibility: visible;
}
}
 .mvs{
  animation:zoom 1s linear ;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform:scale(0.5);
        visibility: visible;
}
   100%{
    transform:scale(1);
    visibility: visible;
}
} */

    
 .ab{
  margin-top: 40px;
  margin-left: 40px;
  font-weight: bold;
  font-size:400%;
  color: white;
 }
 .ab1{
  margin-top: 10px;
  margin-left: 40px;
  font-size:100%;
  color: white;
 }
.navbar{
  background-color:rgba(232, 182, 57, 0.997); 
}
.c{
  margin-top: 15px;
  margin-bottom: 12px;
}
.s1{
  color:rgb(246, 47, 12);
}
.s2{
  color: rgb(254, 110, 8);
}
.s3{
  color:goldenrod ;
}
 .s4{
  color:rgba(12, 12, 12, 0.751);
 }
/***** Section *****/

.footer-basic{
  padding:80px 0;
  background-color:rgba(232, 182, 57, 0.526);
  color:#4b4c4d;
  margin-top: 7%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid rgb(12, 12, 12);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:10px;
  color:rgb(31, 27, 27);
  margin-bottom:0;
  
}
.copyright span
{
  color: rgb(227, 146, 8);
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
/***** End Section *****/